.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}
.glyphicon {
    position: center;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 15px;
}
