<nav class="navbar navbar-inverse">
  
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="glyphicon glyphicon-home" [routerLink]="['/home']"></a></li>
        <li><a [routerLink]="['/perfil']">Perfil</a></li>
        <li><a [routerLink]="['/experiencia']">Experiencia</a></li>
        <li><a [routerLink]="['/actividades']">Actividades</a></li>
        <li><a [routerLink]="['/habilidades']">Habilidades</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/contactos']">Contacto</a></li>
        </ul>
    </div>
</nav>